.screen {
  border: 2px solid black;
  font-family: monospace;
  background-color: var(--light);
  color: black;
  display: grid;
  grid-auto-rows: 1fr 1fr;
  padding: 0.5rem 1rem;
  text-align: right;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
.primary-display {
  font-size: 1.8rem;
}
