:root {
  /* CSS HSL */
  --warn: hsla(358, 38%, 43%, 1);
  --light: hsla(203, 76%, 82%, 1);
  --dark: hsla(225, 11%, 32%, 1);
  --primary: hsl(214, 37%, 44%, 1);
  --secondary: hsla(189, 37%, 44%, 1);
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--primary);
  display: grid;
  place-items: center;
}
